.App {
  text-align: center;
}

.App-header {
  background-color: #e4faff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-toggle {
  display: block;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  color: #ada5a5;
  font-size: 16px;
  line-height: 1.25;
  border-bottom: 1px solid #ada5a5;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transition-property: border-color, color;

  &:hover {
    color: #000000;
    border-bottom: 1px solid #000000;
  }
}